.pageWrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .gamePageWrapper {
    @extend .pageWrapper;
    color: beige;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landingPageWrapper {
    @extend .pageWrapper;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
  }
