.pageWrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .gamePageWrapper {
    @extend .pageWrapper;
    color: beige;
    font-size: larger;
    padding: 20% 0 40px;
  }
  
  .landingPageWrapper {
    @extend .pageWrapper;
  }
  