body {
  text-align: center;
  font-family: Roboto, system-ui, sans-serif;
    /* font-size: 81.25%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  max-height: 300px;
  min-height: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
